body {
    font-family: "bungee", serif;
}

.ccc-image {
    float: left;
}

.list {
    float: right;
}

ul {
   margin: auto;
   padding: auto;
   list-style: none;
   display: inline-block;
   color: #7944e6;
}

      
main {
    background-color: #ff00ff;
}

.food-truck-image {
    float: left;
    height: auto;
    width: 50%;
    padding: 5px 10px;
    background-color: #ff00ff;
}

.about {
   float: right;
   height: auto;
   width: 50%;
   padding: 5px 10px;
   background-color: #ff00ff;
}

section {
    text-align: center;
    border-width: 
    border: #7944e6
}
